@font-face {
  font-family: mainFont;
  src: url(./DIN.woff2) format("woff2-variations");
  font-weight: 1 999;
  font-stretch: 0% 100%;
  font-optical-sizing: 0 100;;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
div.lineSeparator{
	height:1px;
	width:100%;
	background-color:rgba(255,255,255,0.7);
	margin:3em 0;
}
@media all and (max-width:50em){
	div.lineSeparator{
		margin:2em 0;
	}
}

a.button1{
  font-family: mainFont;
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
  background:rgba(80, 80, 80, 0.568);
  font-size: 20px;
	font-weight:450;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}
a.button1:hover{
	color:#000000;
	background-color:#FFFFFF;
}
@media all and (max-width:30em){
	a.button1{
		display:block;
		margin:0.4em auto;
	}
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 800px;
    height: 800px;
    /* border: 1px solid #f1f1f1; */
    display: flex;
    perspective: 1000px; 
    align-items: center;
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.centered {
  position: relative;
  max-width: 50%;
  width:500px;
  top: 45vh;
  /* bottom: 50%; */
  left: 50%;
  /* bring your own prefixes */
  
  transform: translate(-50%, -50%);
}

.centeredTop {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 90%;
  width: 80%;
  margin:25px auto 25px auto;
  
  /* top: %; */
  /* bottom: 50%; */
  /* left: 50%; */
  /* bring your own prefixes */
  
  /* transform: translate(-50%, -50%); */
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0f0919;
}

.color1{
  color:#e7ffff;
  user-select: none;
}

.resumeBox{
  display: flex;
  flex-direction: column;
  font-family: mainFont;
  /* background:rgba(80, 80, 80, 0.568); */
  color:#ffffff;
  width: 80%;
  max-width: 500px;
  /* border: solid; */
  margin: auto auto auto auto;
  z-index: 0;
  position: relative;
  padding: 0em;
  top: 31vh;
  border-radius:0.12em;
}

.resumeName{
  align-self:center;
  font-size: 3.5rem;
  font-weight: 550;
  margin:0px;
}
.resumeHeader{
  align-self:center;
  font-size: 2.5rem;
  font-weight: 500;
}
.resumeSubheader{
  align-self:left;
  margin: 0.2em 0 0 1em;
  font-size: 1.8rem;
  font-weight: 450;
}
.resumeText{
  align-self:left;
  margin: 0.5em 0 0.5em 3.5em;
  font-size: 1.25rem;
  font-weight: 200;
}
.resumeDate{
  align-self:left;
  margin: 0.5em 0 0 2em;
  font-size: 1.1rem;
  font-weight: 100;
}

span {
  font-size: 1.4rem;
  font-weight: 300;
}

ul {
  margin: 0 0 0 -1.5em;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

span b{
  font-size: 1.3rem;
  font-weight: 300;
  margin:0 0 0 -1.0em;
}



