body, html {background-color: black;
    height: 100%;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    }

h1   {color: rgb(0, 0, 0);
      text-align: center;
      font-family: 'Outfit', sans-serif;
     
}
h2   {color: rgba(102, 100, 207, 0.762);
      text-align: center;    
      font-family: 'Outfit', sans-serif;
      font-size: 70px;
}
.hyperlink   {
    font-family: 'Outfit', sans-serif;
    font-size: large;
    text-align: center;
}
.text {color: rgb(255, 255, 255);
    text-align: center;
    width: 650px;
    margin: 50px 50px;
    font-family: 'Outfit', sans-serif;
    font-size: 55px;
    line-height: 70px;

}

.row {
    display: flex;
    padding: 0px;
}
.column {
    flex: 50.00%;
    padding: 0px;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.max {
    object-fit: contain;
    max-width: 100%;

}
.tall {
    object-fit: contain;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
}

.bg1 {
    background-image: url(images/91.jpg);
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.bg2 {
    background-image: url(images/92.jpg);
    height: 100%;
    min-height: 100%; 
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.bg3 {
    background-image: url(images/94.jpg);
    height: 100%;
    min-height: 100%; 
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.bg4 {
    background-image: url(images/95.jpg);
    height: 100%;
    min-height: 100%; 
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}